<div class="collection">
  <label class="collectionContainer">
    Academic
    <input type="checkbox" />
    <span class="collectionCheckmark"></span>
  </label>
  <label class="collectionContainer">
    Fluid
    <input type="checkbox" />
    <span class="collectionCheckmark"></span>
  </label>
  <label class="collectionContainer">
    Solid
    <input type="checkbox" />
    <span class="collectionCheckmark"></span>
  </label>
  <label class="collectionContainer">
    Electromagnetism
    <input type="checkbox" />
    <span class="collectionCheckmark"></span>
  </label>
  <label class="collectionContainer">
    Coupled
    <input type="checkbox" />
    <span class="collectionCheckmark"></span>
  </label>
</div>
