<div class="collection">
  <label class="light light--academic">
    <input type="checkbox" checked id="academic" onChange="onCollectionChange(this.id, event.target.checked);" />
    Academic
  </label>
  <label class="light light--fluid">
    <input type="checkbox" checked id="fluid" onChange="onCollectionChange(this.id, event.target.checked);" />
    Fluid
  </label>
  <label class="light light--solid">
    <input type="checkbox" checked id="solid" onChange="onCollectionChange(this.id, event.target.checked);" />
    Solid
  </label>
  <label class="light light--electromagnetism">
    <input type="checkbox" checked id="electromagnetism" onChange="onCollectionChange(this.id, event.target.checked);" />
    Electromagnetism
  </label>
  <label class="light light--coupled">
    <input type="checkbox" checked id="coupled" onChange="onCollectionChange(this.id, event.target.checked);" />
    Coupled
  </label>
</div>

